<h1>  </h1>
<div class="container-fluid">

<div class="about">
  
</div>
  <p>
    <%=$name%> BV is Netherland's beverages leader, the nation’s largest retailer, and the majority distributor and wholesaler of small businesses. <%=$name%> BV provides the Nederlands with Soft drinks products, Water products, Beer products, Baby products, Milk products, Sport products, and 100% Juice products. With more than 230 corporate, franchised and Associate-owned locations, <%=$name%>, its franchisees, and Associate-owners employ approximately 150 full- and part-time employees, making it one of Netherland’s largest private sector employers.
  </p>
  <p>
    <%=$name%> BV’s purpose – Live Life Well – puts first the needs and well-being of The Nederlands who make one billion transactions annually in the companies’ stores. <%=$name%> BV is positioned to meet and exceed those needs in many ways: convenient locations; more than 1,050 grocery stores that span the value spectrum from discount to specialty; full-service beverages at more than 250 Super markets, including schools and office locations.

  </p>

We hope that you'll take full advantage of what we have to offer, and you have our personal guarantee that we'll do all that we can to ensure your complete satisfaction.
</div>
