
<div class="hero text-center">
  hello
</div>

<div class="container-fluid">

  <div class=" card spacer my-2">
    <h3>POPULAR BRAND </h3>
  </div>
  <div class=" card container-fluid section p-2">

    <div class="card-deck">
      <div class="card">
        <%=image_tag('cow.png',class:"card-img-top")%>
        <div class="card-body">
          <h5 class="card-title">Cow & Gate</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-block">Check Availability</button>
        </div>
      </div>
      <div class="card">
        <%=image_tag('formula.png',class:"card-img-top")%>
        <div class="card-body">
          <h5 class="card-title">A2 Milk</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-block">Check Availability</button>
        </div>
      </div>
      <div class="card">
        <%=image_tag('coca.jpg',class:"card-img-top")%>
        <div class="card-body">
          <h5 class="card-title">Cola-cola</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-success btn-sm btn-block">Available</button>
        </div>
      </div>
      <div class="card">
        <%=image_tag('hieniken.png',class:"card-img-top")%>
        <div class="card-body">
          <h5 class="card-title">heineken</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer bg-white">
          <button type="button" class="btn btn-outline-secondary btn-sm btn-block">Check Availability</button>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="">
  <%= search_form_for @search do |f| %>


  <%= f.label :name_cont %> <br>
  <%= f.search_field :name_cont %> <br>

<hr>
  <%= f.label :product_category_name_start %> <br>
  <%= f.search_field :product_category_name_start %> <br>



  <%= f.submit %>
<% end %>

</div>


<div class="p-4">
  <% @products.each do |product|%>

  <%= product.name%> <br>

  <%=product.product_category.name%> <br>

  <%end%>
</div>
